// font
// font-size
$fz-h1: 80px;
$fz-h2: 64px;
$fz-base: 24px;
$fz-sm: 20px;

// font-weight
$fw-medium: 500;
$fw-bold: 700;
$fw-black: 900;

// line-height
$lh-h1: 106px;
$lh-h2: 84px;
$lh-h3: 42px;

// color
// $c-main: ;
$c-accent: #891818;

// space
$space: 4px;